body{
  font-family: 'Montserrat';
}

#btn {
  width: 70px;
  height: 70px;
  color: #C13584;
  cursor: pointer;
  margin: auto auto auto 0px;
}


#book-form {
  width:270px;
  height:400px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #C13584 solid 5px;
  border-radius: 46px;
}

#book-form input, #book-form select {
  border: #C13584 groove 2px;
  border-radius: 46px;
  outline: none;
  background-color: white;
}

#submitBtn{
  cursor: pointer;
}

label {
  margin-bottom: 5px;
}


#table-header {
  width:1000px;
  height: 80px;
  margin: auto;
  background-color: #C13584;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-title {
  display: inline-block;
  background-color: white;
  height: 70px;
  width: 170px;
  /* margin: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#table-row {
  width:1000px;
  height: 60px;
  margin: auto;
  background-color: #C13584;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
}

#deleteBtn {
  background-color: white;
  border-radius: 46px;
  cursor: pointer;
}

.row-title {
  display: inline-block;
  background-color: white;
  height: 55px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.hidden {
  visibility: hidden;
}