
body{
  font-family: 'Montserrat';

}

#container {
  width: 100%;
  margin-top: 100px;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

#book-form {
  width:270px;
  height:400px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #2c3034 solid 5px;
  border-radius: 46px;
}

#book-form input, #book-form select {
  border: #2c3034 groove 2px;
  border-radius: 46px;
  outline: none;
  background-color: white;
}

#submitBtn{
  cursor: pointer;
}

#toggleBtn, #deleteBtn {
  border: #2c3034 solid 2px;
  border-radius: 46px;
  cursor: pointer;
  outline: none;
  
}

#deleteBtn {
  width: 70px;  
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

#toggleBtn {
  margin-left: 5px;
}

#yes-or-no {
  display: inline;
}


.hidden {
  visibility: hidden;
}

th,td {
  text-align: center !important;
  vertical-align: middle;
}

